*.o
src/main/c/8-queens 
src/main/c/permutations 
src/main/c/subsets 
src/main/c/war 
src/main/c/sorting 
src/main/c/bfs-demo 
src/main/c/dfs-demo 
src/main/c/connected 
src/main/c/topsort 
src/main/c/prim 
src/main/c/dijkstra 
src/main/c/floyd 
src/main/c/findcycle 
src/main/c/stringedit
src/main/c/lcs 
src/main/c/substringedit 
src/main/c/superman 
src/main/c/convex-hull 
src/main/c/triangulate 
src/main/c/10055 
src/main/c/distance 
src/main/c/name 
src/main/c/polly 
src/main/c/gcd 
src/main/c/primes 
src/main/c/bignum 
src/main/c/editbrute 
src/main/c/elevator 
src/main/c/order 
src/main/c/plates 
src/main/c/geotest 
src/main/c/cgtest
src/main/c/netflow 
src/main/c/paths 
src/main/c/sudoku 
src/main/c/tsp 
src/main/c/fib 
src/main/c/partition 
src/main/c/biconnected 
src/main/c/strong 
src/main/c/topsort 
src/main/c/bipartite 
src/main/c/kruskal 
src/main/c/matrix 
src/main/c/tree-demo
